.coverage
.DS_Store
.python-version
.pytest_cache

*.db
*.egg-info
*.log
*.pyc
*.sqlite3
*.swp
*.swo

junit-*.xml
coverage.xml
/tags

.terraform/

/.tox/
/.cache/
/.idea/
/.npm/
/.vscode/
/venv/
/env/
/.env/
/htmlcov/
/tmp/
.env
